@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Hide scrollbar for Webkit (Chrome, Safari) */
#chat::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
#chat {
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE and Edge */
}

/* Add custom color for mark element */
mark {
    background-color: rgba(var(--primary-500), 1);
}
