@import '../../vendor/filament/filament/resources/css/theme.css';

@source '../../app';
@source '../../resources';

/* Hide scrollbar for Webkit (Chrome, Safari) */
#chat::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
#chat {
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE and Edge */
}

/* Wrap code snippet content */
pre, code {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: anywhere;
}

/* Phiki styling */
.phiki {
    margin: 0;
    padding: 1rem;
}

.phiki,
.phiki span {
    font-size: 12px;
}

/* Phiki dark mode support */
html.dark .phiki,
html.dark .phiki span {
    color: var(--phiki-dark-color) !important;
    background-color: var(--phiki-dark-background-color) !important;
    font-style: var(--phiki-dark-font-style) !important;
    font-weight: var(--phiki-dark-font-weight) !important;
    text-decoration: var(--phiki-dark-text-decoration) !important;
}

/* Content styling */
#content a {
    text-decoration-color: var(--prose-link-color);
}

#content hr {
    margin: 1rem 0;
}

#content code:before,
#content code:after {
    content: "";
}
